


{% extends "bootstrap/base.html" %}

{% block title %}3D reconstruction{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
	#threejs_container {
		/*max-width : 500px;*/
		overflow : hidden;
		display : inline-block;
		margin : 10px;
	}
	#mesh_table {
		/*max-width : 500px;*/
/*		border-style: solid;
		border-width: 5px;*/
		display : inline-block;
		margin : 10px;
	}
	.button{
		margin : 10px;
	}
</style>
{% endblock %}

{% block navbar %}
{%include "NavBarTemplate.html" %}
{% endblock %}

{%block content %}
<section class="container">
	<h1 class = "button">Mesh</h1>
	<div class="row align-items-start">
		<div id = "mesh_table" class = "col-4">
			<table class="table table-hover">
				<thead>
					<th>Created Time</th>
					<th>Modified Time</th>
					<th>Mesh Name</th>
					<th>File Size</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{d.creation_time}}</td>
						<td>{{d.modification_time}}</td>
						<td>{{d.filename}}</td>
						<td>{{d.file_size}} KB</td>
						<td><a href="/edit/{{d.filename}}">edit</a></td>
						<td>delete</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id = "threejs_container" class = "col-4 push-1">
			{% if name %}
			<iframe src="/display/{{name}}" scrolling="no" style=" width: 400px; height: 300px;"></iframe>
			{% else %}
			<iframe src="/display/" scrolling="no" style=" width: 400px; height: 300px;"></iframe>
			{% endif %}
<!-- 			<object data="/display/{{name}}" style="min-width: 100%; min-height: 101%;" type="text/html">
			    Alternative Content
			</object> -->
			<!-- <embed src="/display/{{name}}" width=100% /> -->
		</div>
	</div> <!-- row -->
</section> <!-- container -->
{% endblock %}
