{% extends "bootstrap/base.html" %}

{% block title %}3D reconstruction{% endblock %}

{% block navbar %}
	
	{%include "NavBarTemplate.html" %}

{% endblock %}

{%block content %}
	<div class="container">
	  <h2>Hi! Welcome to 3D Reconstruction</h2>
		<p>This application allows you to take pictures from your mobile phone, upload it to our server, and bang, you can see your generated 3d models here!</p>
	</div>

{% endblock %}